@using System.Linq
@model ShopWebApplication.Helpers.DataCatalogHelper;
@{
    ViewData["Title"] = "Catalog";
    Layout = "_Layout";
    // AjaxOptions ajaxOptions = new AjaxOptions()
    // {
    //     HttpMethod = "POST",
    //     InsertionMode = InsertionMode.Replace,
    //     UpdateTargetId = "current-cart-item"
    // };
}

@*<script src="~/js/testScript.js" type="text/javascript"></script>*@
<section class=" mt-5 ">
    <div class="mt-4">
        @* Partial View : The current cart *@
        @await Html.PartialAsync("~/Views/Shared/_CartCatalog.cshtml", Model.MyCart) <!-- OR : <partial name="~/Views/Shared/_CartCatalog.cshtml" />-->
        @*<div class="row mb-5 text-right">
            <div class="col-12">
                <button class="my-catalog-cart-container" onclick="AlertName(`@Model.Items.First()`)">
                    <div class="my-catalog-cart">
                        <svg width="74" height="74" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.93332 4.93335C4.60645 4.92873 4.28193 4.98912 3.97861 5.111C3.67529 5.23289 3.39922 5.41385 3.16644 5.64336C2.93366 5.87287 2.74882 6.14635 2.62265 6.44792C2.49649 6.74949 2.43152 7.07312 2.43152 7.40002C2.43152 7.72691 2.49649 8.05055 2.62265 8.35212C2.74882 8.65369 2.93366 8.92717 3.16644 9.15668C3.39922 9.38619 3.67529 9.56715 3.97861 9.68903C4.28193 9.81092 4.60645 9.87131 4.93332 9.86669H9.56795C10.1252 9.86669 10.5901 10.2156 10.7483 10.7531L21.2605 46.4909C22.1831 49.6278 25.0845 51.8 28.357 51.8H55.4325C58.7586 51.8 61.6954 49.5521 62.5724 46.3464L68.9799 22.8504C69.0799 22.4844 69.0942 22.1002 69.0215 21.7278C68.9488 21.3554 68.7912 21.0048 68.561 20.7032C68.3307 20.4016 68.034 20.1572 67.6939 19.989C67.3538 19.8208 66.9794 19.7333 66.6 19.7334H18.5337L15.4841 9.36083C15.4825 9.36082 15.4809 9.36082 15.4793 9.36083C14.7099 6.74594 12.2914 4.93335 9.56795 4.93335H4.93332ZM29.6 56.7334C28.2916 56.7334 27.0368 57.2531 26.1116 58.1783C25.1864 59.1035 24.6666 60.3583 24.6666 61.6667C24.6666 62.9751 25.1864 64.2299 26.1116 65.1551C27.0368 66.0803 28.2916 66.6 29.6 66.6C30.9084 66.6 32.1632 66.0803 33.0884 65.1551C34.0136 64.2299 34.5333 62.9751 34.5333 61.6667C34.5333 60.3583 34.0136 59.1035 33.0884 58.1783C32.1632 57.2531 30.9084 56.7334 29.6 56.7334ZM54.2666 56.7334C52.9582 56.7334 51.7034 57.2531 50.7783 58.1783C49.8531 59.1035 49.3333 60.3583 49.3333 61.6667C49.3333 62.9751 49.8531 64.2299 50.7783 65.1551C51.7034 66.0803 52.9582 66.6 54.2666 66.6C55.5751 66.6 56.8299 66.0803 57.755 65.1551C58.6802 64.2299 59.2 62.9751 59.2 61.6667C59.2 60.3583 58.6802 59.1035 57.755 58.1783C56.8299 57.2531 55.5751 56.7334 54.2666 56.7334Z" fill="#000"/>
                        </svg>
                        <div class="my-catalog-cart-bg">
                            <p><span>0</span></p>
                        </div>
                    </div>
                </button>
            </div>
        </div>*@
        <div class="row">
            <div class="col-12">
                <h1 class="catalog-title text-center">Nos produits</h1>
            </div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();
            @*<form action="" method="post">*@
    <div class="row justify-content-center">
         <input name="nbItemDispo" value="@(Model.IShopHelper.Items.Count)" type="hidden" />
        @foreach (var item in @Model.IShopHelper.Items)
        {
            <div class="col-12 col-lg-6 col-xl-4">
                <div id="" class="card-item">
                    <!-- Cercle avec le stock -->
                    <div class="card-item-stock-container">
                        <div class="card-item-stock-bg">
                            <div class="card-item-stock">
                                <p><span>@item.Stock</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-item-header">
                        <div class="row">
                            <!-- Image -->
                            <div class="col-12">
                                <img class="card-item-img" src="/img/@(item.Id).jpg" alt="card-img" onerror="this.onerror=null;this.src='/img/not-found.jpg'" />
                            </div>
                        </div>
                    </div>
                    <div class="card-item-body">
                        <div class="row">
                            <!--Categorie +  Nom + Decription + Prix -->
                            <div class="col-12">
                                <p class="card-item-type">@(item.Type)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h3 class="card-item-name">@(item.Name)</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="card-item-desc">@(item.Description)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="card-item-price"><span>@(item.Price)</span> €</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-item-footer">
                        <div class="row">
                            <!-- Bouton Add -->
                            <div class="col-12">
                                 @if(Model.MyCart.Items.Exists(itemCart => itemCart.Id == item.Id))
                                 {
                                     var itemCartModel = Model.MyCart.Items.Where(itemCart => itemCart.Id == item.Id).FirstOrDefault();
                                     if (itemCartModel.Quantity < itemCartModel.Stock)
                                     {
                                         <button type="submit" formaction="/Catalog/OnSelectedItem/@(item.Id)" onclick="" class="card-item-btn-add">Add</button>
                                     }
                                     else
                                     {
                                         <button type="submit"  disabled onclick="" class="card-item-btn-add-disabled">Add</button>
                                     }
                                 }
                                 else
                                 {
                                     <button type="submit" formaction="/Catalog/OnSelectedItem/@(item.Id)" onclick="" class="card-item-btn-add">Add</button>
                                 }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
        @*</form>*@
        }
    </div>
</section>
<script src="~/js/MySlider.js" asp-append-version="true"></script>

