@using System.Linq
@model ShopWebApplication.Helpers.DataCatalogHelper;
@{
    ViewData["Title"] = "Catalog";
    Layout = ViewData["Layout"] as String;
    // AjaxOptions ajaxOptions = new AjaxOptions()
    // {
    //     HttpMethod = "POST",
    //     InsertionMode = InsertionMode.Replace,
    //     UpdateTargetId = "current-cart-item"
    // };
}
<section class=" mt-5 ">
    <div class="mt-4">
        @* Partial View : The current cart *@
        @await Html.PartialAsync("~/Views/Shared/_CartCatalog.cshtml", Model.MyCartModel) <!-- OR : <partial name="~/Views/Shared/_CartCatalog.cshtml" />-->
        <div class="row">
            <div class="col-12">
                <h1 class="catalog-title text-center">Nos produits</h1>
            </div>
        </div>
            <div class="row justify-content-center">
                @foreach (var item in @Model.IShopHelper.Items)
                {
                    <div class="col-12 col-lg-6 col-xl-4">
                        @using (Html.BeginForm("OnSelectedItem", "Catalog", FormMethod.Post))
                        {
                            bool exist = Model.MyCartModel.Items.Exists(itemCart => itemCart.Id == item.Id);
                            bool stockSuffisant = true;
                            bool stockNull = item.Stock == 0;
                            if (stockNull)
                            {
                                stockSuffisant = false;
                                
                            }
                            if (exist)
                            {
                                var itemCartModel = Model.MyCartModel.Items.Where(itemCart => itemCart.Id == item.Id).FirstOrDefault();
                                stockSuffisant = itemCartModel != null && itemCartModel.Quantity < itemCartModel.Stock;
                            }
                            @Html.AntiForgeryToken();
                            <div id="" class="card-item">
                                <!-- Cercle avec le stock -->
                                <div class="card-item-stock-container">
                                    <div class="card-item-stock-bg">
                                        <div class="card-item-stock">
                                            <p><span>@item.Stock</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-item-header">
                                    <div class="row">
                                        <!-- Image -->
                                        <div class="col-12">
                                            <img class="card-item-img" src="/img/@(item.Id).jpg" alt="card-img" onerror="this.onerror=null;this.src='/img/not-found.jpg'"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-item-body">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="card-item-type">@(item.Type)</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="card-item-name">@(item.Name)</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="card-item-desc">@(item.Description)</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="card-item-price"><span>@(item.Price)</span> €</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="col-12 mb-3 text-center">
                                            @if (stockSuffisant)
                                            {
                                                <input placeholder="Quantité" class="form-control quantity-input" required type="number" min="1" max="@item.Stock" name="quantity"/>
                                                <input type="hidden" name="id-item" value="@item.Id">
                                            }
                                            else if(stockNull)
                                            {
                                                <input placeholder="Quantité" class="form-control quantity-input" readonly type="number" min="1" max="@item.Stock" name="quantity"/>
                                                <input type="hidden" name="id-item" value="@item.Id">
                                            }
                                            else
                                            {
                                                <input placeholder="Quantité" class="form-control quantity-input" readonly type="number" min="1" max="@item.Stock" name="quantity"/>
                                                <input type="hidden" name="id-item" value="@item.Id">
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="card-item-footer">
                                    <div class="row">
                                        <!-- Bouton Add -->
                                        <div class="col-12">
                                            @if (exist)
                                            {
                                                if (stockSuffisant)
                                                {
                                                    <button type="submit" onclick="" class="card-item-btn-add">Add</button>
                                                }
                                                else
                                                {
                                                    <button type="submit" disabled onclick="" class="card-item-btn-add-disabled">Add</button>
                                                }
                                            }
                                            else
                                            {
                                                if(stockNull)
                                                {
                                                    <button type="submit" disabled onclick="" class="card-item-btn-add-disabled">Add</button>
                                                }
                                                else
                                                {
                                                    <button type="submit"  onclick="" class="card-item-btn-add">Add</button>

                                                }
                                                // formaction="/Catalog/OnSelectedItem/@(item.Id)"
                                            }
                                        </div>
                                </div>
                            </div>
                            </div>
                        }
                    </div>
                }
            </div>
    </div>
</section>